<h2>This is a post</h2>
<form action='/profilePage' method="GET">
  <input type="hidden" name="userId" value="{{this.user_id}}"/>
  <input type="image" src="{{this.user_img_url}}" class="userImg" alt="(userImage)" >
</form>
<h2>{{this.subject}}</h2>
<h2>{{this.topic}}</h2>
<p>{{this.content}}</p>
<p>{{this.created_at}}</p>
<form action='/postRepliesPage' method="GET">
  <input type="hidden" name="postId" value="{{this.post_id}}" />
  <input class="btn_replies" type="submit" value="Replies {{this.reply_count}}" />
</form>