<img src="{{this.user_img_url}}" class="userImage" alt="(userImage)">
<h2>{{postData.subject}}</h2>
<h2>{{this.topic}}</h2>
<p>{{this.content}}</p>
<p>{{this.created_at}}</p>
<p>{{this.post_id}}</p>
<form action='/PostRepliesPage' method="GET">
  <input type="hidden" name="postId" value="{{this.post_id}}" />
  <input class="btn_replies" type="submit" value="Replies {{this.reply_count}}" />
</form>