<style>
  .userImg {
    border-radius: 50%;
  }

  #flexbox {
    display: flex;
    flex-direction: row;
  }

  #img-container {
    margin: 2em;
  }

  #post-data {
    margin-bottom: 1em;
  }

  #post-topic {
    width: auto;
    font-size: 15pt;
    color: orangered;
    margin-left: 8em;
    margin-top: 5pt;
    vertical-align: middle;
  }

  #post-topic p {
    border: 2px solid red;
    padding: 5px;
  }

  #post-subject {
    display: flex;
    flex-direction: row;
  }

  #post-subject h2{
    width: auto;
  }

  #post-inside {
    margin-top: -5%;
  }

  #date{
    font-size: 8pt;
  }

  #subject-name{
    font-size: 18pt;
    font-weight: bold;
  }

  .btn_replies{
    background-color: orangered;
    color: whitesmoke; 
  }

  #reply-btn{
    width: 6em;
    margin-bottom: 12pt;
  }

</style>

<div id="flexbox">

  {{!-- Image container stays on left --}}
  <div id="img-container">
    <form action='/profilePage' method="GET">
      <input type="hidden" name="userId" value="{{this.user_id}}" />
      <input type="image" src="{{this.user_img_url}}" class="userImg" alt="(userImage)"><br>
    </form>
  </div>

  {{!-- Right container displays post data --}}
  <div id="post-data">

    <div id="post-subject">

      <p id="subject-name">{{this.subject}}</p>

      <div id="post-topic">
        <p>{{this.topic}}</p>
      </div>
    </div>

    <div id="post-inside">
    <p>{{this.content}}</p>
    <p id="date">{{this.created_at}}</p>

    <form action='/postRepliesPage' method="GET">
      <input type="hidden" name="postId" value="{{this.post_id}}" />
      <div id="reply-btn">
      <input class="btn_replies" type="submit" value="Replies: {{this.reply_count}}" />
      </div>
    </form>
    </div>
  </div>
</div>