<img src="{{this.user_img_url}}" class="userImage" alt="(userImage)">
<h2>{{this.subject}}</h2>
<h2>{{this.topic}}</h2>
<p>{{this.content}}</p>
<p>{{this.created_at}}</p>
<a href="/showReplyField">Replies {{this.reply_count}}</a>