<form action='/profilePage' method="GET">
  <input type="hidden" name="userId" value="{{this.user_id}}"/>
  <input type="image" src="{{this.user_img_url}}" class="userImg" alt="(userImage)" >
</form>
<h2>{{this.subject}}</h2>
<h2>{{this.topic}}</h2>
<p>{{this.content}}</p>
<p>{{this.created_at}}</p>
<p>{{this.post_id}}</p>
