<header><span></span></header>
<!--background for topbanner-->
<div id="top-container">
    <div id="logo"><a href='/dashboard'>
            <h1><span id="highlight">c</span>k</h1>
        </a></div>
    <div id="search-bar">
        <form class="searchByQuery" action='/querySearchPage' method="GET">
            <input class="inp_searchBar" name="searchQuery" type="text" maxlength="40" placeholder="Search">
            <button class="btn_searchQuery" type="submit" value="Search">
                <img src="./images/searchIcon.png" alt="Search" />
            </button>
        </form>
    </div>
    <form name="logout" method="get" action="/">
        <label class="logoutLblPos">
            <button class="logout-btn" name="logoutbtn" type="submit" value="Logout">
                <img src="images/logoutIcon.png" alt="Log Out" />
            </button>
        </label>
    </form>
</div>

<h1>Convo Page</h1>
<div id="flexbox">
  <div id="left-container">
    <h1>CONVO DATA</h1>

    {{#each convo_data}}
    {{>convo this}}
    {{/each}}
  </div>

  <div id="right-container">
    <h2>Convo Messages (latest convo's messages rendered by default)</h2>
    {{#each message_data}}
    {{>message this}}
    {{/each}}
    {{!-- {{#if convo_data}} --}}
    <form class="createMessageModule" action='/createMessage' method="POST">
      <input type="hidden" name="convo_id" value="{{message_params.convo_id}}" />
      <input type="hidden" name="sender_user_id" value="{{message_params.sender_user_id}}" />
      <input type="hidden" name="reciever_user_id" value="{{message_params.reciever_user_id}}" />
      <input type="hidden" name="sender_full_name" value="{{message_params.sender_full_name}}" />
      <input type="hidden" name="user_img_url" value="{{message_params.user_img_url}}" />
      <input type="text" name="subject" maxlength="50" placeholder="Subject..."><br>
      <input class="inp_content" name="content" type="text" maxlength="500" placeholder="Write a message..."><br>
      <input class="btn_reply" name="message" type="submit" value="Send" />
    </form>
    {{!-- {{/if}} --}}

  </div>
</div>