<header><span></span></header>
<!--background for topbanner-->
<div id="top-container">
    <div id="logo"><a href='/dashboard'>
            <h1><span id="highlight">c</span>k</h1>
        </a></div>
    <div id="search-bar">
        <form class="searchByQuery" action='/querySearchPage' method="GET">
            <input class="inp_searchBar" name="searchQuery" type="text" maxlength="40" placeholder="Search">
            <button class="btn_searchQuery" type="submit" value="Search">
                <img src="./images/searchIcon.png" alt="Search" />
            </button>
        </form>
    </div>
    <form name="logout" method="get" action="/">
        <label class="logoutLblPos">
            <button class="logout-btn" name="logoutbtn" type="submit" value="Logout">
                <img src="images/logoutIcon.png" alt="Log Out" />
            </button>
        </label>
    </form>
</div>


<h2>Edit Your Profile Page, {{ fullName }}</h2>
<div id="feed-container">
    <form action='/updateProfile' method='POST'>

        <div class="row">
            Name
            <input class="inp_fullName" name="fullName" type="text" maxlength="40" placeholder="full name"
                value="{{fullName}}"><br>
        </div>
        <div class="row">
            Image
            <input class="inp_imgURL" name="imgURL" type="text" maxlength="1000" placeholder="imgURL"
                value="{{imgURL}}"><br />
        </div>
        <div class="row">
            Bio
            <textarea class="inp_bio" name="bio" type="text" maxlength="140" placeholder="a few lines about yourself..."
                rows="5" cols="35">{{bio}}</textarea><br />
        </div>
        <div class="row">
            Country
            <div id="country-div">
            <input class="inp_country" name="country" type="text" maxlength="40" placeholder="country"
                value="{{country}}">
            </div>
        </div>

        <div class="row"> Date <input class="inp_dateOfBirth" name="dateOfBirth" type="text" maxlength="40"
                placeholder="date of birth (YYYY-MM-DD)" value="{{dateOfBirth}}"><br /></div>

        <input class="btn_updateProfile" type="submit" value='Save' />
    </form>
</div>