<header><span></span></header><!--background for topbanner-->
<div id="top-container">
  <div id="logo"><a href='/dashboard'> <h1><span id="highlight">c</span>k</h1></a></div>
  <div id="search-bar">
  <form class="searchByQuery" action='/querySearchPage' method="GET">
  <input class="inp_searchBar" name="searchQuery" type="text" maxlength="40" placeholder="Search">
      <button class="btn_searchQuery" type="submit" value="Search">
          <img src="./images/searchIcon.png" alt="Search" />
      </button>
  </form>
  </div>
  <form name="logout" method="get" action="/">
  <label class="logoutLblPos">
      <button class="logout-btn" name="logoutbtn" type="submit" value="Logout">
          <img src="images/logoutIcon.png" alt="Log Out" />
      </button>
  </label>
</form>
</div>

{{!-- Left Side Display Info --}}

<div id="left-container">
<h2>Retrieve from database</h2>
  <h2>UserData</h2>
<div id="profile-pic">
  <form action='/profilePage' method="GET">
    <input type="hidden" name="userId" value="{{user_data.user_id}}" />
    <input type="image" src="{{user_data.img_url}}" class="userImg" alt="(userImage)">
  </form>
</div>
<div id="name">{{user_data.full_name}}</div>
<div id="bio">{{user_data.bio}}</div><br><br><br>
</div>

<div id="right-container">
    <div id="button-div">
    <a href="/incrementLikes?userId={{user_data.user_id}}">Like</a><br>
    <a href="/sendMessagePage?userId={{user_data.user_id}}">Message</a><br>
    <a href="/profilePage?userId={{user_data.user_id}}">&nbsp;Posts {{user_data.post_count}}</a><br>
    <a>&nbsp;Likes {{user_data.like_count}}</a><br><br><br>
     </div>
</div>

{{!-- All Posts Container --}}

<div id="bottom-container">
    <h2>All Posts By {{user_data.full_name}} </h2>
    {{!-- <p>{{ post_data }}</p> --}}
    <div class="feedContainer">
        {{#each post_data}}
            {{>post this}}
        {{/each}}
        </div>
</div>