<header><span></span></header><!--background for topbanner-->
<div id="top-container">
  <div id="logo"><a href="#default"> <h1><span id="highlight">c</span>k</h1></a></div>
  <div id="search-bar">
  <form class="searchByQuery" action='/querySearchPage' method="GET">
  <input class="inp_searchBar" name="searchQuery" type="text" maxlength="40" placeholder="Search">
      <button class="btn_searchQuery" type="submit" value="Search">
          <img src="./images/searchIcon.png" alt="Search" />
      </button>
  </form>
  </div>
  <form name="logout" method="post" action="">
  <label class="logoutLblPos">
      <button class="logout-btn" name="logoutbtn" type="submit" value="Logout">
          <img src="images/logoutIcon.png" alt="Log Out" />
      </button>
  </label>
</form>
</div>

<h1>Query Search Page</h1>
{{#each post_data}}
{{>post this}}
{{/each}}





<h2>PostsData Placeholders Made </h2>

 <div class="container">
        {{!-- {{#each people}} --}}
        <div class="row">
            <div class="user-img">
                <img class="artistImg" style="width:50px;" src={{this.img_url}} />
                img here 
            </div>
            <div class="results-container">
                <div class="row">
                    <div class="topic-title">
                        <h6>{{this.title}}</h6>
                        topic title here 
                    </div>
                    <div class="topic">
                        topic display inside button-> 
                        <button type="button" class="btn-info">{{this.topic}}</button>
                    </div>
                </div>
                <div class="row">
                    <div class="desc">
                        detailed post here 
                        <p>{{this.topic_desc}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="date">
                        date here
                        <p>{{this.date}}</p>
                    </div>
      
                </div>
            </div>
        </div>
        replies show here
        {{!-- {{/each}} --}}
    </div>
